.search-glass {
    position: relative;
    left: -4.5rem;
    background-color: #000000;
    color: #ffffff;
    padding: .4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.search-bar {
    margin: 20px;
    text-align: left;
}

.search-bar input{
    width: 60%;
}