.title {
    font-weight: 600;
    font-size: 3rem;
    padding-bottom: 20px;
}

.description {
    font-weight: 500;
}
.video-list-item img {
    max-width: 100px;
}
.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 100px;
}